*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.wrapper{
    width: 65vmin;
    height: 70vmin;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #293447;
    border-radius: 5px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e3f2fd;
}
.gameDetails{
    color: #b8c6dc;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}
.playBoard{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30,1fr) / repeat(30,1fr);
    background: #212837;
}
.playBoard .food{
    background: #ff003d;
}
.playBoard .head{
    background: #60cbff;
}